/* Container */

.CardsItem__item {
    display: flex;
    width: 274px;
    height: 426px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    position: relative;
}

.CardsItem__imgblock img {
    width: 274px;
    height: 268px;
    flex-shrink: 0;
    border-radius: 14px;
    
}

.CardsItem__title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #121417;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */  
    margin-top: 14px;
    margin-bottom: 8px; 
}

.CardsItem__title span {
    margin-left: 4px;
    color: #3470FF;

}










/* Heart */
.CardsItem__checkbox {
    position: absolute;
    top: 0;
    right: 0;

}

.CardsItem__imgblock-container input {
    position: absolute;
    /* opacity: 0; */
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .CardsItem__imgblock-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    transition: 100ms;
  }
  
  .checkmark {
    top: 0;
    left: 0;
    height: 2em;
    width: 2em;
    transition: 100ms;
    animation: dislike_effect 400ms ease;
  }
  
  .CardsItem__imgblock-container input:checked ~ .checkmark path {
    fill: #3470FF;
    stroke-width: 0;
  }
  
  .CardsItem__imgblock-container input:checked ~ .checkmark {
    animation: like_effect 400ms ease;
  }
  
  .CardsItem__imgblock-container:hover {
    /* transform: scale(1.1); */
  }
  
  @keyframes like_effect {
    0% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes dislike_effect {
    0% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1.2);
    }
  
    100% {
      transform: scale(1);
    }
  }