
.Catalog__container {
    /* display: flex;
    justify-content: center; */
    padding-left: 115px;
    padding-right: 115px;
    padding-bottom: 150px;
    background-color: #FFFFFF;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.Catalog__header {
    display: flex;
    gap: 18px;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 50px;

}

/* Catalog__input */


.Catalog__input div {
    display: flex;
    width: calc(160px * 2);
}

.Catalog__input label {
    color: #8A8A89;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    margin-bottom: 8px;

  }

  .Catalog__input input{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 224px;
    outline: none;
    border: none;
    
  }

  .Catalog__input input {
    padding: 14px 89px 14px 18px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 14px;
    background: #F7F7FB;

  }

  .Catalog__input .Catalog__input-mileage-left {
    display: flex;
    width: 160px;
    height: 48px;
    /* padding: 14px 93px 14px 24px; */
    align-items: center;

    border-radius: 14px 0px 0px 14px;
    border-right: 1px solid rgba(138, 138, 137, 0.20);
    background: #F7F7FB;
  }

  .Catalog__input .Catalog__input-mileage-right {
    display: flex;
    width: 160px;
    height: 48px;
    /* padding: 14px 93px 14px 24px; */
    align-items: center;
    background-color: #0B44CD;

    border-radius: 0px 14px 14px 0px;
    background: #F7F7FB;
  }







/* Button */

.Catalog__btn {
    display: flex;
    width: 136px;
    height: 48px;
    padding: 14px 44px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    background: #3470FF;
    border: inherit;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 5ms var( --transition);

    color: var(--White, #FFF);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */

}

.Catalog__btn span {

    transition: top 0.5s;
  }

  .btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
  }

  .Catalog__btn:hover, .Catalog__btn:focus {
    background: #0B44CD;

  }  

  .Catalog__btn:hover .btn-text-one {
    top: -100%;

  }
  
  .Catalog__btn:hover .btn-text-two {
    top: 50%;

  }

  /* Catalog */

  .Catalog__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  /* Button  Load more */

  .Catalog__btn--more {
    background-color: transparent;
    border: none;

    color: #3470FF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-decoration-line: underline;
    transition: all 5ms var( --transition);
    cursor: pointer;
  }

  .Catalog__btn--unvisibil {
    opacity: 0;
  }
  
  .Catalog__btn--more:hover, .Catalog__btn--more:focus {
     color: #0B44CD;
     scale: 1.05;
  }



  