
.Catalog__container {
    /* display: flex;
    justify-content: center; */
    padding-left: 115px;
    padding-right: 115px;
    padding-bottom: 150px;
    background-color: #FFFFFF;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    /* justify-content: flex-start; */
    flex-direction: column;
    align-items: center;

}

  /* Catalog */

  .Catalog__list {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
    max-width: calc(1440px - 230px);

  }

  /* Button  Load more */

  .Catalog__btn--more {
    background-color: transparent;
    border: none;

    color: #3470FF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    text-decoration-line: underline;
    transition: all 5ms var( --transition);
    cursor: pointer;
  }

  .Catalog__btn--unvisibil {
    opacity: 0;
  }
  
  .Catalog__btn--more:hover, .Catalog__btn--more:focus {
     color: #0B44CD;
     scale: 1.05;
  }



  